doctype html
html
	head 
		title Theodor
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(name="author" content="Sebastian Koslitz")
		meta(name="geo.region" content="DE-SN")
		meta(name="geo.placename" content="Leipzig")
		meta(name="geo.position" content="51.3062;12.3739")
		meta(name="ICBM" content="51.3062, 12.3739")
		link(rel="stylesheet" type="text/css" href="./css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="./css/app.css")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
		script(src="./js/app.js")
		link(href="http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet" type="text/css")
		link(name="description" content="")
		link(name="keywords" content="")
		link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
		// to do
		// link(rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png")
		// link(rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png")
		// link(rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png")
	body 
		.container.text-center
			.text-right#go-top
				button(type="button").btn.btn-primary Nach oben
			h1#theodor-weber Theodor Weber
			br
			img(class="img-circle" src="img/theo_12_2012_01.jpg")
			h3 (*)<a target="blank" href="http://de.wikipedia.org/wiki/Genealogische_Zeichen#Zeichen_.28Symbole.29">'</a> 03.12.2012 | Gewicht: 3470 g | Grösse: 51 cm
			ul.nav.nav-tabs.nav-justified
				li.active <a href="http://theodor.actageo.de/index.html">2. Lebensjahr</a>
				li <a href="http://theodor.actageo.de/erstesJahr.html">1. Lebensjahr</a>
			h2 Oktober 2014
			h3 "Theo in den Pilzen"
			img(class="img-thumbnail" src="img/theo_10_2014_01.JPG")
			br
			br
			br
			img(class="img-thumbnail" src="img/theo_10_2014_02.JPG")
			br
			br
			br
			h3 Picknick im Wald
			img(class="img-thumbnail" src="img/theo_10_2014_03.JPG")
			br
			br
			br
			h3 Theodor auf dem Hochstand
			img(class="img-thumbnail" src="img/theo_10_2014_04.JPG")
			br
			br
			br
			img(class="img-thumbnail" src="img/theo_10_2014_05.JPG")
			br
			br
			br
			h3 Im Wald wachsen Gummibärchen ?!
			img(class="img-thumbnail" src="img/theo_10_2014_06.JPG")
			br
			br
			br
			h3 Päuschen auf Mamis Schultern
			img(class="img-thumbnail" src="img/theo_10_2014_07.JPG")
			br
			br
			br
			h3 Teestunde im Colditzer Forst
			img(class="img-thumbnail" src="img/theo_10_2014_08.JPG")
			br
			br
			br
			h2 September 2014
			h3 Urlaub an der Ostsee
			br
			h3 ... mir nach!
			img(class="img-thumbnail" src="img/theo_09_2014_01.JPG")
			br
			br
			br
			h3 auf zu den Möwen
			img(class="img-thumbnail" src="img/theo_09_2014_02.JPG")
			br
			br
			br
			h3 Kuckuck
			img(class="img-thumbnail" src="img/theo_09_2014_03.JPG")
			br
			br
			br
			h3 morgentliche Sichtung der Ostsee
			<iframe src="//player.vimeo.com/video/106526369" width="380" height="675" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/106526369"></a></p>
			br
			br
			br
			h3 Mittagsschlaf am Strand
			img(class="img-thumbnail" src="img/theo_09_2014_04.JPG")
			br
			br
			br
			h3 Theo in der Früh
			img(class="img-thumbnail" src="img/theo_09_2014_05.JPG")
			br
			br
			br
			h3 Wer ist hier der König?
			img(class="img-thumbnail" src="img/theo_09_2014_06.JPG")
			br
			br
			br
			h3 Theo auf dem Eselhof
			img(class="img-thumbnail" src="img/theo_09_2014_07.JPG")
			br
			br
			br
			h3 Mittagsschlaf, die Zweite
			img(class="img-thumbnail" src="img/theo_09_2014_08.JPG")
			br
			br
			br
			h3 Theo in den Dünen 
			<iframe src="//player.vimeo.com/video/106526372" width="380" height="675" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/106526372"></a></p>
			br
			br
			br
			h3 Tag am Meer
			img(class="img-thumbnail" src="img/theo_09_2014_09.JPG")
			br
			br
			br
			h3 Theodor im Rostocker Zoo
			img(class="img-thumbnail" src="img/theo_09_2014_10.JPG")
			br
			br
			br
			img(class="img-thumbnail" src="img/theo_09_2014_11.JPG")
			br
			br
			br
			img(class="img-thumbnail" src="img/theo_09_2014_12.JPG")
			br
			br
			br
			img(class="img-thumbnail" src="img/theo_09_2014_13.JPG")
			br
			br
			br
			h3 Die Gartenarbeit ruft
			img(class="img-thumbnail" src="img/theo_09_2014_14.JPG")
			br
			br
			br
			h3 Bummeln ist ermüdend
			img(class="img-thumbnail" src="img/theo_09_2014_15.JPG")
			br
			br
			br
			h3 Telefon für einen Nachmittag
			<iframe src="//player.vimeo.com/video/106526373" width="380" height="675" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/106526373"></a></p>
			br
			br
			br
			h2 August 2014
			h3 Theo nascht Erbsen
			<iframe src="//player.vimeo.com/video/102464270" width="380" height="675" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/102464270"></a></p>
			br
			br
			br
			h3 Theo bei Omi auf dem Land
			img(class="img-thumbnail" src="img/theo_08_2014_01.JPG")
			br
			br
			br
			h3 Landluft macht müde
			img(class="img-thumbnail" src="img/theo_08_2014_02.JPG")
			br
			br
			br
			h2 Juli 2014
			h3 Theo und asiatische Popmusik!
			<iframe src="//player.vimeo.com/video/100329783" width="380" height="675" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/100329783"></a></p>
			br
			br
			br
			h3 Neulich Nachmittag im Park
			img(class="img-thumbnail" src="img/theo_07_2014_06.JPG")
			br
			br
			br
			h3 Damenbesuch, die Nele war da
			img(class="img-thumbnail" src="img/theo_07_2014_05.JPG")
			br
			br
			br
			h3 Hitze in der Stadt, Kartoffelsalat im schattigen Garten
			img(class="img-thumbnail" src="img/theo_07_2014_01.JPG")
			br
			br
			br
			h3 Theo beim zweitägigem Bauernhofausflug mit Lutz & Co.
			img(class="img-thumbnail" src="img/theo_07_2014_02.JPG")
			br
			br
			br
			h3 Mittagsschlaf im Park
			img(class="img-thumbnail" src="img/theo_07_2014_03.JPG")
			br
			br
			br
			img(class="img-thumbnail" src="img/theo_07_2014_04.JPG")
			br
			br
			br
			h2 Juni 2014
			h3 Theo in der Früh
			<iframe src="//player.vimeo.com/video/97454430" width="380" height="675" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/97454430"></a></p>
			br
			br
			br
			h3 Theodor am Rande des Thüringer Waldes, Tabarz
			img(class="img-thumbnail" src="img/theo_06_2014_03.JPG")
			br
			br
			br
			img(class="img-thumbnail" src="img/theo_06_2014_04.JPG")
			br
			br
			br
			h3 ... und beim abendlichen popeln
			<iframe src="//player.vimeo.com/video/97454431" width="380" height="675" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/97454431"></a></p>
			br
			br
			br
			h3 Theo wässert den Garten
			img(class="img-thumbnail" src="img/theo_06_2014_02.JPG")
			br
			br
			br
			h3 Lutz und seine Bande
			img(class="img-thumbnail" src="img/theo_06_2014_01.JPG")
			br
			br
			br
			h2 Mai 2014
			h3 1. Mai Ausflug mit Uroma Carla
			img(class="img-thumbnail" src="img/theo_05_2014_01.JPG")
			br
			br
			br
			h2 April 2014
			h3 Samstag Morgen, Theo und Paul
			<iframe src="//player.vimeo.com/video/93254909" width="380" height="675" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/93254909"></a></p>
			br
			br
			br
			h3 Theo im Garten
			img(class="img-thumbnail" src="img/theo_04_2014_04.JPG")
			br
			br
			br
			h3 Hmmm Stachelbeerbrause
			img(class="img-thumbnail" src="img/theo_04_2014_05.JPG")
			br
			br
			br
			h3 Frühstück!
			img(class="img-thumbnail" src="img/theo_04_2014_01.JPG")
			br
			br
			br
			h3 Die Gartensaison ist eröffnet 
			img(class="img-thumbnail" src="img/theo_04_2014_02.JPG")
			br
			br
			br
			h3 Osterspaziergang auf der Haustierfarm
			img(class="img-thumbnail" src="img/theo_04_2014_03.JPG")
			br
			br
			br
			h3 Theodor lernt das Essen
			<iframe src="//player.vimeo.com/video/92112503" width="380" height="675" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/92112503"></a></p>
			br
			br
			br
			h3 Die Anzeichen mehren sich, Theo übt das Sprechen
			audio(controls='controls')
				source(src='sound/Theo-April-2014.ogg', type='audio/ogg')
				source(src='sound/Theo-April-2014.mp3', type='audio/mp3')
				| Dein Browser unterstützt leider keine Soundunterstützung. Bitte nutze Google Chrome.
			br
			br
			br
			h2 März 2014
			h3 Ein neuer Monat, ein neues Kalenderbild
			img(class="img-thumbnail" src="img/theo_03_2014_03.JPG")
			br
			br
			br
			img(class="img-thumbnail" src="img/theo_03_2014_04.JPG")
			br
			br
			br
			img(class="img-thumbnail" src="img/theo_03_2014_05.JPG")
			br
			br
			br
			img(class="img-thumbnail" src="img/theo_03_2014_06.JPG")
			br
			br
			br
			h3 Endlich wieder im Garten
			img(class="img-thumbnail" src="img/theo_03_2014_08.JPG")
			br
			br
			br
			h3 Emil und Theodor auf dem Spielplatz
			img(class="img-thumbnail" src="img/theo_03_2014_07.JPG")
			br
			br
			br
			h3 Ein gemütlicher Sonntag
			img(class="img-thumbnail" src="img/theo_03_2014_01.JPG")
			br
			br
			br
			img(class="img-thumbnail" src="img/theo_03_2014_02.JPG")
			br
			br
			br
			h3 Theo in den Ferien bei Omi im Tierpark
			<iframe src="//player.vimeo.com/video/89846552" width="380" height="675" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/81214145"></a></p>
			br
			br
			br
			h2 Februar 2014
			h3 Theos "Bekanntschaft" auf dem Spielplatz
			img(class="img-thumbnail" src="img/theo_02_2014_05.JPG")
			br
			br
			br
			img(class="img-thumbnail" src="img/theo_02_2014_06.JPG")
			br
			br
			br
			h3 Beim Lutz ...
			img(class="img-thumbnail" src="img/theo_02_2014_07.JPG")
			br
			br
			br
			img(class="img-thumbnail" src="img/theo_02_2014_08.JPG")
			br
			br
			br
			h3 Spaziergänge ...
			img(class="img-thumbnail" src="img/theo_02_2014_09.JPG")
			br
			br
			br
			img(class="img-thumbnail" src="img/theo_02_2014_10.JPG")
			br
			br
			br
			h3 Morgendlicher Spass im Bett mit Mami
			img(class="img-thumbnail" src="img/theo_02_2014_11.JPG")
			br
			br
			br
			h3 Neulich beim Kindersport
			img(class="img-thumbnail" src="img/theo_02_2014_01.JPG")
			br
			br
			br
			img(class="img-thumbnail" src="img/theo_02_2014_02.JPG")
			br
			br
			br
			img(class="img-thumbnail" src="img/theo_02_2014_03.JPG")
			br
			br
			br
			img(class="img-thumbnail" src="img/theo_02_2014_04.JPG")
			br
			br
			br
			h2 Januar 2014
			h3 Theo gewöhnt sich an die Tagesbetreuung
			img(class="img-thumbnail" src="img/theo_01_2014_10.JPG")
			br
			br
			br
			img(class="img-thumbnail" src="img/theo_01_2014_11.JPG")
			br
			br
			br
			h3 Piggeldy und Frederick mit Papi 
			img(class="img-thumbnail" src="img/theo_01_2014_09.JPG")
			br
			br
			br
			h3 Theodor im Schnee
			img(class="img-thumbnail" src="img/theo_01_2014_07.JPG")
			br
			br
			br
			img(class="img-thumbnail" src="img/theo_01_2014_08.JPG")
			br
			br
			br
			h3 Eine beliebte Beschäftigung nach dem Mittagsschlaf: Theos Matrjoschka
			img(class="img-thumbnail" src="img/theo_01_2014_04.JPG")
			br
			br
			br
			h3 Kuckuck ...
			img(class="img-thumbnail" src="img/theo_01_2014_05.JPG")
			br
			br
			br
			img(class="img-thumbnail" src="img/theo_01_2014_06.JPG")
			br
			br
			br
			h3 Tagesbetreuung ist anstrengend, Theo nimmt sich seine Pausen
			img(class="img-thumbnail" src="img/theo_01_2014_02.JPG")
			br
			br
			br
			img(class="img-thumbnail" src="img/theo_01_2014_03.JPG")
			br
			br
			br
			h3 Der Ernst des Lebens beim Tagespapa beginnt ...
			img(class="img-thumbnail" src="img/theo_01_2014_01.JPG")
			br
			br
			br
			h2 Zwischen den Feiertagen
			h3 Essen? Gern sauer!
			img(class="img-thumbnail" src="img/theo_12_2013_14.JPG") 
			br
			br
			br
			img(class="img-thumbnail" src="img/theo_12_2013_15.JPG")
			br
			br
			br
			img(class="img-thumbnail" src="img/theo_12_2013_16.JPG") 
			br
			br
			br
			img(class="img-thumbnail" src="img/theo_12_2013_18.JPG")  
			br
			br
			br
			h3 Zähneputzen will gelernt sein
			img(class="img-thumbnail" src="img/theo_12_2013_17.JPG") 
			br
			br
			br
			h2 Weihnachten 2013
			h3 Geschenke, Geschenke ...
			img(class="img-thumbnail" src="img/theo_12_2013_08.JPG") 
			br
			br
			br
			img(class="img-thumbnail" src="img/theo_12_2013_09.JPG") 
			br
			br
			br
			img(class="img-thumbnail" src="img/theo_12_2013_10.JPG") 
			br
			br
			br
			img(class="img-thumbnail" src="img/theo_12_2013_11.JPG") 
			br
			br
			br
			img(class="img-thumbnail" src="img/theo_12_2013_12.JPG") 
			br
			br
			br
			img(class="img-thumbnail" src="img/theo_12_2013_13.JPG") 
			br
			br
			br
			h2 Dezember 2013
			h3 Endlich keinen Abendbrei mehr
			img(class="img-thumbnail" src="img/theo_12_2013_06.JPG")
			br
			br
			br
			img(class="img-thumbnail" src="img/theo_12_2013_07.JPG")
			br
			br
			br
			h3 Theodor hat jetzt ein Auto 
			img(class="img-thumbnail" src="img/theo_12_2013_05.JPG")
			br
			br
			br
			h3 Theo tanzt zum Bummilied
			<iframe src="//player.vimeo.com/video/81214145" width="380" height="675" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/81214145"></a></p>
			br
			br
			br
			img.img-circle(src="img/theo_12_2013_04.JPG")
			h2 03.12.2013
			h3 Theodor wird nun ein Jahr alt.
			img.img-thumbnail(src="img/theo_12_2013_01.JPG")
			br
			br
			br
			img.img-thumbnail(src="img/theo_12_2013_02.JPG")
			br
			br
			br
			img.img-thumbnail(src="img/theo_12_2013_03.JPG")
