{{ partial "header.html" . }}
<body>
{{ partial "navbar.html" . }}
<div class="container">
	<div class="row">
    <div class="col-md-12">
      <div class="text-center">
              <h1>{{ .Title }}<br> <small>{{ .Description }}</small></h1>
              <hr>
              {{ .Content }}
              <br>
              <p>**</p>
      				<small><a href="{{ .Site.BaseUrl }}/{{ .Section }}">Zurück zur Jahresübersicht</a></small>
      </div>
    </div>

	</div>
{{ partial "footer.copyright.html" . }}
</div>
{{ partial "footer.html" . }}
