{{ partial "header.html" . }}
<body>
{{ partial "navbar.html" . }}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Theodor Weber</h1>
            <br>
            <img src="/img/theo_12_2012_01.jpg" class="img-circle">
            <br>
            <h4>(*) 03.12.2012 | 3470 g | 51 cm</h4>
        </div>

        <div class="col-md-12 text-center">
            <h3>Letzter Eintrag vom {{ .Site.LastChange.Format "2/01/2006" }}</h3>
            <br>
            {{ range first 1 .Data.Pages }}
                <a class="btn btn-primary btn-xs" href="{{ .Permalink }}">
                  Hier klicken
                </a>
            {{ end }}  
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
