{{ partial "header.html" . }}
<body>
{{ partial "navbar.html" . }}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Theodor Weber</h1>
            <br>
            <img src="/img/theo_12_2012_01.jpg" class="img-circle">
            <br>
            <h3>(*) 03.12.2012 | 3470 g | 51 cm</h3>
        </div>
        <div class="col-md-12 text-center">
            <h3 class="text-info">Letzter Eintrag vom {{ .Site.LastChange.Format "2/01/2006" }}</h3>
            
            <!-- tDo -->
            <!-- go expression für datum des letzten Eintrages und verlinken -->
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
